.top-section {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.top-section h1 {
    text-align: center;
    font-size: 70px;
    color: white;
}

.top-section p {
    text-align: center;
    color: white;
    font-size: 20px;

}

.donate-btn {

    text-decoration: none;
    text-align: center;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 900;
    color: white;
    padding: 15px 15px;
}

body {
    margin: 0;
}

.wrapper {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 150px;
}

.donate-section h1 {
    color: black;
    text-align: center;
    font-size: 50px;
}

.donate-section p {
    text-align: center;
    font-size: 20px;
    color: gray;

}

.amount {
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-size: 40px;
    color: gray;
    padding: 15px 15px;
    margin: 20px;
}

.amount-colored {
    text-decoration: none;
    text-align: center;
    background-color: rgba(255, 238, 238, 255);
    border: 3px solid rgba(255, 89, 89, 255);
    border-radius: 5px;
    font-size: 40px;
    color: orangered;
    padding: 15px 15px;
    margin: 20px;
}

input {
    text-align: center;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    font-size: 25px;
    padding: 0px 150px;
}