.top-section {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.top-section h1 {
    text-align: center;
    font-size: 70px;
    color: white;
}

.top-section p {
    text-align: center;
    color: white;
    font-size: 20px;

}

.donate-btn {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 900;
    color: white;
    padding: 15px 15px;
}

body {
    margin: 0;
}

.wrapper {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 150px;
}

.donate-section h1 {
    color: black;
    text-align: center;
    font-size: 50px;
}

.donation-plan-section h1 {
    color: black;
    text-align: center;
    font-size: 30px;
}

.donate-section p {
    text-align: center;
    font-size: 20px;
    color: gray;

}

.donation-plan-section p {
    text-align: center;
    font-size: 15px;
}

.flex-container {
    display: flex;
    text-align: left;
    margin: 20px 300px;

}

.amount {
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-size: 40px;
    color: gray;
    padding: 15px 15px;
    margin: 20px;
}

.amount-colored {
    text-decoration: none;
    text-align: center;
    background-color: rgba(255, 238, 238, 255);
    border: 3px solid rgba(255, 89, 89, 255);
    border-radius: 5px;
    font-size: 40px;
    color: orangered;
    padding: 15px 15px;
    margin: 20px;
}

.amount-input {
    text-align: center;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    font-size: 25px;
    padding: 0px 150px;
}

.boxed-item {
    margin: 10px;
    padding: 20px;
}

.container {
    display: flex;
    text-align: left;
}

img {
    border-radius: 5px;
}

.contribute-btn {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    padding: 10px 10px;
}

.updates h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}

.updates p {
    text-align: center;

}

.email {
    text-align: center;
    padding: 5px;
    border-right: none;
    outline: none;
}

footer {
    background-color: black;
    text-align: center;
    margin: 0;
    padding: 20px 0px;
}

.subscribe {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    padding: 5px 5px;
}